@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');

/* * {
    border: 1px solid red;
} */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font:bolder;
}

.header {
    background-color: #1f2937;
    margin: 0;


    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-bar {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    background-color: #1f2937;
    color: white;
    font: 900;
    text-decoration-style: none;
    
}

a {
    text-decoration: none;
    color: white;
    font: 900;
}

.hero {
    background-color: blue;
    display: flex;
    gap: 32px;
    background-color: #1f2937;
    color: white;
    justify-content: space-around;
}

.hero-textbox {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 50px;
}

.hero-textbox button {
    flex-grow: 0;
    align-self: flex-start;
    background-color: #3882F6;
    color: white;
    padding: 5px;
    width: 120px;
    border-radius: 3px;
    border-style: none;
}

.hero img {
    align-self: center;
    align-self: center;
    flex: 0;
    height: 200px;
    width: auto;
    margin: 30px;
}

.information-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

.info-boxes {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    gap: 50px;

}

.info-box {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    width: auto;
    height: 150px;
}

.info-box img {
    border: 2px solid #3882F6;
    border-radius: 10px;
    height: 100px;
}

.quote-content {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 50px;
    font-size: 22px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.quotee {
    align-self: flex-end;
    text-decoration: bold;
    font-style: normal;
    font-size: 16px;
}

.action-content {
    background-color: #3882F6;
    display: flex;
    flex-grow: 0;
    justify-content: center;
    margin: 30px;
    flex-basis: 100px;
    border-radius: 10px;
}

.action-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    margin: 10px;

}

.action-text p {
    color: white;
    margin: 1px;
}

.action-content button {
    align-self: center;
    background-color: #3882F6;
    border: 1px solid white;
    color: white;
    padding: 5px;
    width: 90px;
    border-radius: 3px;
}

.footer {
    background-color: #1f2937;
    text-align: center;
    color: white;
}