* {
    border: 3px solid red;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.header {
    background-color: rgb(121, 160, 194);
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-bar {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.hero {
    background-color: blue;
    display: flex;
    gap: 32px;
}

.hero-textbox {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 50px;
}

.hero-textbox button {
    flex-grow: 0;
    align-self: flex-start;
}

.hero img {
    align-self: center;
    flex: 1;
    border: 3px solid red;
}

.information-content {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.info-boxes {
    display: flex;
    gap: 25px;
    align-items: center;
}

.info-box {
    
}

.quote-content {
    background-color: coral;
    display: flex;
}

.action-content {
    background-color: blueviolet;
    display: flex;
}

.footer {
    background-color: rgb(177, 141, 87);
}